[Unit]
Description=Kitsune Fox as a Service
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/rfctf/kitsune start
ExecStop=/opt/rfctf/kitsune stop
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
